Source: inyokaedit
Section: editors
Priority: extra
Maintainer: Thorsten Roth <elthoro@gmx.de>
Uploaders:
   Dominique Lasserre <lasserre.d@gmail.com>,
   Christian Schaerf <code.c.schaerf@t-online.de>,
   djcj <djcj@gmx.de>
Build-Depends:
   debhelper (>= 9),
   libqt4-dev,
   qt4-qmake,
   libqtwebkit-dev | libqt4-dev (<< 4:4.7.0),
   libhunspell-dev,
   pkg-config
Standards-Version: 3.9.5
Homepage: https://launchpad.net/inyokaedit
Vcs-Bzr: https://code.launchpad.net/~elthoro/inyokaedit/packaging
Vcs-Browser: http://bazaar.launchpad.net/~elthoro/inyokaedit/packaging

Package: inyokaedit
Architecture: any
Depends:
   ${shlibs:Depends},
   ${misc:Depends},
   wget
Suggests:
   inyokaedit-plugins,
   fonts-liberation,
   python-pygments
Description: Editor for Inyoka based portals
 InyokaEdit provides offline support for Inyoka based portals like
 ubuntuusers.de.
 .
 Features:
  * code highlighting (via plugin)
  * code completion
  * offline article preview

Package: inyokaedit-plugins
Architecture: any
Depends:
   ${shlibs:Depends},
   ${misc:Depends},
   inyokaedit (= ${binary:Version})
Suggests: hunspell
Description: Plugins for Inyokaedit
 InyokaEdit provides offline support for Inyoka based portals like
 ubuntuusers.de.
 .
 This package will install the following plugins:
  * knowledgebox
  * spellchecker
  * tabletemplate
  * syntax highlighter
  * hotkeys
