Source: inyokaedit
Section: doc
Priority: extra
Maintainer: Thorsten Roth <elthoro@gmx.de>
Uploaders: Dominique Lasserre <lasserre.d@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
         libqt4-dev,
         qt4-qmake,
         libqtwebkit-dev | libqt4-dev < 4:4.7.0,
         libqtgui4,
         pkg-config,
         libhunspell-dev
Standards-Version: 3.9.3
Homepage: https://launchpad.net/inyokaedit
Vcs-Bzr: https://code.launchpad.net/~elthoro/inyokaedit/packaging
Vcs-Browser: http://bazaar.launchpad.net/~elthoro/inyokaedit/packaging

Package: inyokaedit
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         wget
Suggests: hunspell
Description: Editor for Inyoka based portals
 InyokaEdit provides offline support for Inyoka based portals like
 ubuntuusers.de.
 .
 Features:
  * code highlighting
  * code completion
  * offline article preview
