[Desktop Entry]
Name=InyokaEdit
GenericName=Inyoka Markup Editor
Comment=Edit and preview Inyoka markup
Exec=inyokaedit %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=uu-text-editor.png
Categories=Qt;Utility;TextEditor;
