#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh ${@} --parallel

override_dh_auto_install:


override_dh_install:
	$(MAKE) install-inyokaedit DESTDIR=$(CURDIR)/debian/inyokaedit
	$(MAKE) install-plugins DESTDIR=$(CURDIR)/debian/inyokaedit-plugins
	cp -f data/menu debian

override_dh_shlibdeps:
	dh_shlibdeps -Linyokaedit -l/usr/lib/inyokaedit

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
