[Desktop Entry]
Name=InyokaEdit
GenericName=Inyoka Markup Editor
Comment=Edit and preview Inyoka markup
Comment[de]=Inyoka-Markup-Text bearbeiten und ansehen
Exec=inyokaedit %f
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/x-inyoka;
Icon=org.inyokaproject.inyokaedit
Categories=Qt;Utility;TextEditor;
Keywords=Editor;Inyoka;Wiki;Ikhaya;ubuntuusers;
Keywords[de]=Editor;Inyoka;Wiki;Ikhaya;ubuntuusers;
