/* Tabellenstyles */
/*----------------*/
tr.titel {
    font-weight: bold;
    background: #E2C890;
    color: #000000;
    text-align: center;
}

tr.kopf {
    font-weight: bold;
    background: #F9EAAF;
    color: #000000;
}

tr.normal {
    background: #F9EAAF;
    color: #000000;
}

tr.trennzeile {
    background: #DDDDDD;
    color: #000000;
}

tr.highlight {
    background: #EEEEEE;
    color: #000000;
}

tr.verlauf {
    font-weight: bold;
    color: #000000;
    background-image: url(../img/wiki/heading.png);
    background-size: 100% 100%;
    text-align: center;
}

tr.kde-titel {
    font-weight: bold;
    background: #0057AE;
    color: white;
    text-align: center;
}

tr.kde-kopf {
    font-weight: bold;
    background: #418DD4;
    color: white;
}

tr.kde-normal {
    background: #418DD4;
    color: white;
}

tr.kde-highlight {
    background: #C0DAFF;
    color: #000000;
}

tr.xfce-titel {
    font-weight: bold;
    background: #B3DEFD;
    color:#000000;
    text-align: center;
}

tr.xfce-kopf {
    font-weight: bold;
    background: #EFEFEF;
    color: #000000;
}

tr.xfce-normal {
    background: #EFEFEF;
    color: #000000;
}

tr.xfce-highlight {
    background: #EFEFEF;
    color: #000000;
}

tr.lxde-titel {
    font-weight: bold;
    background: #212121;
    color: white;
    text-align: center;
}

tr.lxde-kopf {
    font-weight: bold;
    background: #0b60a3;
    color: white;
}

tr.lxde-normal {
    background: #0b60a3;
    color: white;
}

tr.lxde-highlight {
    background: #474747;
    color: white;
}

tr.edu-titel {
    font-weight: bold;
    background: #9c0000;
    color: white;
    text-align: center;
}

tr.edu-kopf {
    font-weight: bold;
    background: #d39528;
    color: white;
}

tr.edu-normal {
    background: #e1dac6f;
    color: white;
}

tr.edu-highlight {
    background: #f4f2e7;
    color: #000000;
}

tr.studio-titel {
    font-weight: bold;
    background: #171717;
    color:#009bf9;
    text-align: center;
}

tr.studio-kopf {
    font-weight: bold;
    background: #525252;
    color:#009bf9;
}

tr.studio-normal {
    font-weight: bold;
    background: #525252;
    color:#009bf9;
}

tr.studio-highlight {
    background: #171717;
    color:#FFFFFF;
}

/* Klasse für einen Befehl in Zelle */
/*----------------------------------*/
td.befehl{
    background: #464646;
    color: #FFFFFF;
    font-family: monospace;
}

td.gruen{
    background: #CCFF99;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

td.grau{
    background: #eeeeee;
    color: #000000;
    text-align: center;
}

td.gelb{
    background: #FFFF99;
    color: #000000;
    text-align: center;
}

td.rot{
    background: #FFCC99;
    color: #000000;
    text-align: center;
}

/* Klasse für die Award Box */
/*--------------------------*/
div.award {
  border: 1px solid #ffcc00;
}

div.award h3 {
  background-color: #ffcc00;
}

div.ut_box {
  border: 1px solid #DD4814;
}

div.ut_box h3 {
  background-color: #DD4814;
}

/* Bilder für InterWiki */
/*----------------------*/
a.interwiki-archwiki {
  background-image: url(../img/interwiki/archwiki.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-askubuntu {
  background-image: url(../img/interwiki/askubuntu.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-atomicgamer {
  background-image: url(../img/interwiki/atomicgamer.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-bitbucket {
  background-image: url(../img/interwiki/bitbucket.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-blogspot {
  background-image: url(../img/interwiki/blogspot.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-brainstorm {
  background-image: url(../img/interwiki/brainstorm.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-bug {
  background-image: url(../img/interwiki/bug.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-calendar {
  background-image: url(../img/interwiki/calendar.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-canonical {
  background-image: url(../img/interwiki/canonical.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-canonicalblog {
  background-image: url(../img/interwiki/canonicalblog.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-canonicalsubdomain {
  background-image: url(../img/interwiki/canonicalsubdomain_.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-canonicalvoices {
  background-image: url(../img/interwiki/canonicalvoices.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-debian {
  background-image: url(../img/interwiki/debian.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-debianbug {
  background-image: url(../img/interwiki/debianbug.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-debian_de {
  background-image: url(../img/interwiki/debian_de.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-derstandard {
  background-image: url(../img/interwiki/derstandard.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-desura {
  background-image: url(../img/interwiki/desura.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-diaspora {
  background-image: url(../img/interwiki/diaspora.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-dropbox {
  background-image: url(../img/interwiki/dropbox.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-duckduckgo {
  background-image: url(../img/interwiki/duckduckgo.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ean {
  background-image: url(../img/interwiki/ean.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-edubuntu {
  background-image: url(../img/interwiki/edubuntu.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-fb {
  background-image: url(../img/interwiki/fb.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-freecode {
  background-image: url(../img/interwiki/freecode.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-freedesktop, a.interwiki-freedesktop-software {
  background-image: url(../img/interwiki/freedesktop.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-freenode {
  background-image: url(../img/interwiki/freenode.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-freshmeat {
  background-image: url(../img/interwiki/freshmeat.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-gameolith {
  background-image: url(../img/interwiki/gameolith.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-getdeb {
  background-image: url(../img/interwiki/getdeb.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-github {
  background-image: url(../img/interwiki/github.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-gnome {
  background-image: url(../img/interwiki/gnome.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-gnomeapps {
  background-image: url(../img/interwiki/gnomeapps.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-gnomeprojects {
  background-image: url(../img/interwiki/gnomeprojects.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-gog {
  background-image: url(../img/interwiki/gog.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-google {
  background-image: url(../img/interwiki/google.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-googlecode {
  background-image: url(../img/interwiki/googlecode.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-googlecode {
  background-image: url(../img/interwiki/googlecode.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-gnomelook {
  background-image: url(../img/interwiki/gnomelook.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-gplus {
  background-image: url(../img/interwiki/gplus.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-heise {
  background-image: url(../img/interwiki/heise.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-holarse {
  background-image: url(../img/interwiki/holarse.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-humble {
  background-image: url(../img/interwiki/humble.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-iawm {
  background-image: url(../img/interwiki/iawm.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-identica {
  background-image: url(../img/interwiki/identica.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.ikhaya {
  background-image: url(../img/interwiki/ikhaya.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-indiedb {
  background-image: url(../img/interwiki/indiedb.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-isbn {
  background-image: url(../img/interwiki/isbn.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ixquick {
  background-image: url(../img/interwiki/ixquick.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-kdebugs {
  background-image: url(../img/interwiki/kdebugs.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-kubuntu {
  background-image: url(../img/interwiki/kubuntu.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-kubuntu-de {
  background-image: url(../img/interwiki/kubuntu-de.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-kubuntu_doc {
  background-image: url(../img/interwiki/kubuntu.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-lastfm {
  background-image: url(../img/interwiki/lastfm.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-launchpad {
  background-image: url(../img/interwiki/launchpad.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-launchpad2 {
  background-image: url(../img/interwiki/launchpad2.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-launchpad_answers {
  background-image: url(../img/interwiki/launchpad.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}


a.interwiki-lgdb {
  background-image: url(../img/interwiki/lgdb.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-liflg {
  background-image: url(../img/interwiki/liflg.jpg);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-linuxgaming {
  background-image: url(../img/interwiki/linuxgaming.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-lpcode {
  background-image: url(../img/interwiki/lpcode.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-lpuser {
  background-image: url(../img/interwiki/lpuser.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-lubuntu {
  background-image: url(../img/interwiki/lubuntu.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-man {
  background-image: url(../img/interwiki/man.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-man_de {
  background-image: url(../img/interwiki/man_de.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ml {
  background-image: url(../img/interwiki/ml.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-moddb {
  background-image: url(../img/interwiki/moddb.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-moby {
  background-image: url(../img/interwiki/moby.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-mythbuntu {
  background-image: url(../img/interwiki/mythbuntu.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-opensuse {
  background-image: url(../img/interwiki/opensuse.jpg);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-osm {
  background-image: url(../img/interwiki/osm.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-omgubuntu {
  background-image: url(../img/interwiki/omgubuntu.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-packages {
  background-image: url(../img/interwiki/packages.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.paste {
  background-image: url(../img/interwiki/paste.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-pdf {
  background-image: url(../img/interwiki/pdf.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-playdeb {
  background-image: url(../img/interwiki/playdeb.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-prolinux {
  background-image: url(../img/interwiki/prolinux.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-quakenet {
  background-image: url(../img/interwiki/quakenet.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-scope {
  background-image: url(../img/interwiki/scope.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-sourceforge {
  background-image: url(../img/interwiki/sourceforge.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-sourceforge2 {
  background-image: url(../img/interwiki/sourceforge2.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-startpage {
  background-image: url(../img/interwiki/startpage.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-steam {
  background-image: url(../img/interwiki/steam.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-team {
  background-image: url(../img/interwiki/team.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  color:#597A00;
}

a.interwiki-ticket {
  background-image: url(../img/interwiki/ticket.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-twitter {
  background-image: url(../img/interwiki/twitter.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-uappexplorer {
  background-image: url(../img/interwiki/uappexplorer.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ubuntu {
  background-image: url(../img/interwiki/ubuntu.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ubuntuapps {
  background-image: url(../img/interwiki/ubuntuapps.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ubuntudiscourse {
  background-image: url(../img/interwiki/ubuntudiscourse.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ubuntufridge {
  background-image: url(../img/interwiki/ubuntufridge.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ubuntugnome {
  background-image: url(../img/interwiki/ubuntugnome.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ubuntumate {
  background-image: url(../img/interwiki/ubuntumate.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ubunturesources {
  background-image: url(../img/interwiki/ubunturesources.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ubuntusub {
  background-image: url(../img/interwiki/ubuntusub.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-uf_forum {
  background-image: url(../img/interwiki/uf_forum.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-uf_member {
  background-image: url(../img/interwiki/uf_member.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-uf_thread {
  background-image: url(../img/interwiki/uf_thread.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ubuntu_doc {
  background-image: url(../img/interwiki/ubuntu_doc.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ubuntu_fr {
  background-image: url(../img/interwiki/ubuntu_fr.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ubuntustudio {
  background-image: url(../img/interwiki/ubuntustudio.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-ubuntuone {
  background-image: url(../img/interwiki/ubuntuone.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-user {
  background-image: url(../img/interwiki/user.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-vimeo {
  background-image: url(../img/interwiki/vimeo.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-wikibooks {
  background-image: url(../img/interwiki/wikibooks.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-wikibooks_en {
  background-image: url(../img/interwiki/wikibooks_en.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-wikimedia {
  background-image: url(../img/interwiki/wikimedia.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-wikipedia {
  background-image: url(../img/interwiki/wikipedia.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-wikipedia_en {
  background-image: url(../img/interwiki/wikipedia_en.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-wordpress {
  background-image: url(../img/interwiki/wordpress.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-xfcedocs {
  background-image: url(../img/interwiki/xfcedocs.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-xubuntu {
  background-image: url(../img/interwiki/xubuntu.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

a.interwiki-youtube {
  background-image: url(../img/interwiki/youtube.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}