#ifndef RCFILE_H_
#define RCFILE_H_
#include <windows.h>
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDI_ICON1               ICON    DISCARDABLE     "images/inyokaedit.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    0,21,0,0
PRODUCTVERSION 0,21,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription",    "Editor for Inyoka based portals\0"
            VALUE "FileVersion",        "0.21.0\0"
            VALUE "InternalName",       "InyokaEdit\0"
            VALUE "LegalCopyright",     "Copyright (c) 2011-2017 The InyokaEdit developers\0"
            VALUE "OriginalFilename",   "InyokaEdit.exe\0"
            VALUE "ProductName",        "InyokaEdit\0"
            VALUE "ProductVersion",     "0.21.0\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
#endif  // RCFILE_H_
